@page "/plugins/lnbank/wallets/{walletId}/delete"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DeleteModel

@{
    ViewData.SetActivePage(LNbankNavPages.WalletSettings, $"Delete \"{Model.Wallet.Name}\"", Model.Wallet.WalletId);
}

<partial name="_WalletHeader" model="Model.Wallet"/>
<partial name="_Nav" model="Model.Wallet"/>

@if (Model.Wallet.Balance > 0)
{
    <p>This wallet still has a balance. Please <a asp-page="./Send" asp-route-walletId="@Model.Wallet.WalletId">transfer the funds</a> before deleting it.</p>
}
else
{
    <p>Are you sure you want to delete this wallet?</p>
    
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" id="LNbank-Delete" />
    </form>
}

